*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(248, 248, 248);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

/*Logo del Proyecto*/

#grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,auto);
    grid-template-areas: "encabezado encabezado encabezado"
                         "contenido contenido contenido"
                         "contFooter contFooter contFooter";
    width: 95%;
    margin: 5px;
    border: 1px solid black;
}

.encabezado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(194, 194, 194);
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    grid-area: encabezado;
}
.c1{
    display: flex;
    justify-content: center;
    width: 30%;
}

.c1 img{
    margin: 5px;
    width: 50px;
    height: 50px;
    border-radius: 32px;

}

.c2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    font-family: Arial, Helvetica, sans-serif
}

.c2 h1{
    font-size: 23px;
}

.contenido{
    display: grid;
    grid-template-columns: 1fr;
    background-color: rgb(223, 219, 219);
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    grid-area: contenido;
}

h1{
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-bottom: 5px;
}

.contenido div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.contenido div h2{
    font-size: 20px;
    text-align: center;
    margin: 5px;
}

.contenido img{
    margin: 5px;
    display: inline-block;
    width: 28.125em;
    height: 21.875em;
}

/*Pie de Página*/

.contFooter{
    background-color: rgb(206, 203, 200);
    border: 1px solid black;
    margin: 5px;
    display: flex;
    align-items: center;
    grid-area: contFooter;
}

.contFooter ul{
    display: flex;
    justify-content: space-around;
    width: 35%;
    margin: 5px;
    list-style: none;
}

.contFooter ul li{
    display: block;
    transition: .2s linear;
    padding: 5px;   
}

.contFooter li:hover{
    transform: scale(1.1);
}

.contFooter a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    text-decoration: dashed;
    color: rgb(173, 13, 13);
    transition: .3s linear;
}

.contFooter a:hover{
    color: white;
    transform: scale(1.1);
}

@media (max-width: 1200px){
    .contenido img{
        margin: 5px;
        display: inline-block;
        width: 33.75rem;
        height: 26.25rem;
    }

}
@media (max-width: 992px){

}
@media (max-width: 768px){
    .contenido img{
        margin: 5px;
        display: inline-block;
        width: 16.87rem;
        height: 13.12rem;
    }

}
@media (max-width: 576px){
    .contenido img{
        margin: 5px;
        display: inline-block;
        width: 14.05rem;
        height: 10.93rem;
    }

}
    
    