*{margin: 0px;
padding: 0px;
}

body{
    background-color: rgb(248, 248, 248);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

/*Barra de navegación*/

#contenedorBarra {
    background-color: gray;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 50px;
    margin: 10px;
    
}

.ulPrincipal{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    margin: 5px;
    padding: 5px;
}

.ulPrincipal li{
    display: inline-block;
    position: relative;
    list-style: none;
    transition: .3s linear;
}

.ulPrincipal li:hover{
    transform: scale(1.1);
}

.ulPrincipal li a{
    color:aliceblue;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    padding: 12px 20px;
    transition: .3s linear;
    text-decoration: none;
}

.ulPrincipal li a:hover{
    color: rgb(14, 87, 87);
    transform: scale(1.1);
}

.ulPrincipal li:hover .hijos{
    color: rgb(255, 255, 255);
    margin: 5px;
    padding: 5px;
}

.ulPrincipal li a:hover{
    color:rgb(185, 29, 1);
    transform: scale(1.2);
    text-decoration: none;
}

.ulPrincipal li:hover .hijos{
    display: block;
}

.ulPrincipal .subMenu .hijos{
    display: none;
    background: rgb(66, 27, 27);
    position: absolute;
    width: 100%;
    text-align: center;
}

.subMenu .hijos li{
    display: block;
    overflow: hidden;
    border-bottom: none;
}

.subMenu .hijos li a{
    display: block;
}
/*Logo del Proyecto*/

#principal{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 100%;
    margin-bottom: 10px;
}

.contenedor1{
    display: flex;
    width: 200px;
    padding: 2px;
    justify-content: center;   
}

.contenedor1 .redondear{
    background-color: white;
    width: 60px;
    height: 60px;
    margin-bottom: 5px;
    border-radius: 25px;
}

/*Título del Logo*/

.contenedor2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 230px;
    margin: 2px;
}

.cambioDeLetras {
    background-color: rgb(185, 19, 19);
    width: 60%;
    font-size: 21px;
}

/*Descripción de la empresa*/

#contCuerpo{
    background-color: rgb(228, 220, 220);
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.contTitulo{
    text-align: center;
    width: auto;
    height: auto;
    font-size: 30px;
    margin-bottom: 10px;

}
.contDescripcion{
    text-align: justify;
    font-size: 20px;
}
.contParrafo{
    font-size: 20px;
    line-height: 1.5;
    margin-top: 10px;
    margin-bottom: 10px;
}
.letrasParrafo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

/*Imágen Central*/

.imgCentral{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.imgCentral img{
    width: 600px;
    height: 350px;
    transition: all .4s;
}

.imgCentral img:hover{
    transform:translate(15%);
}

/*Footer (Redes Sociales)*/

.arregloLetras{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin: 10px 0px 10px 10px;
}

.contFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    height: auto;
    text-decoration: none;
}

.contFooter img{
    margin: 5px;
    width: 15%;
    height: 15%;
}

.contFooter a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: dashed;
    color: black;
    font-size: 15px;
}

.contFooter a:hover{
    color: white;
}

/*Pantallas de Escritorio*/

@media (max-width: 1200px) {
    
}

/*Pantallas Laptop*/

@media (max-width: 992px) {
    #contenedorBarra {
        width: 100%;
        height: 35px;
        margin-bottom: 5px;
        
    }
    .ulPrincipal{
        justify-content: space-evenly;
        width: 100%;
        margin: 2px;
        padding: 2px;
    }
    .ulPrincipal li a{
        font-size: 12px;
        padding: 5px 10px;
        text-decoration: none;
    }
    }
    .contenedor2{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 200px;
        margin: 2px;
    }
    
    .cambioDeLetras {
        background-color: rgb(185, 19, 19);
        width: 140px;
        font-size: 21px;
    }
    .imgCentral img{
        width: 550px;
        height: auto;
    }

/*Pantallas Tablets*/

@media (max-width: 768px) {
    #contenedorBarra {
        width: 100%;
        height: 35px;
        margin-bottom: 5px;
        
    }
    .ulPrincipal{
        justify-content: space-evenly;
        width: 100%;
        margin: 2px;
        padding: 2px;
    }
    .ulPrincipal li a{
        font-size: 12px;
        padding: 5px 10px;
        text-decoration: none;
    }
    
    #principal{
        align-items: baseline;
        width: 100%;
        margin-bottom: 5px;
    }
    .contenedor1 .redondear{
        width: 50px;
        height: 50px;
        border-radius: 22px;
    }
    .cambioDeLetras {
        width: 55%;
        font-size: 18px;
    }

    .contTitulo{
        font-size: 25px;
        margin-bottom: 5px;
    
    }
    .contDescripcion{
        font-size: 17px;
    }
    .contParrafo{
        font-size: 17px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .imgCentral img{
        width: 500px;
        height: auto;
    }
    .arregloLetras{
        font-size: 12px;
        margin: 5px 0px 5px 5px;
    }
    .contFooter{
        justify-content: space-between;
        width: 25%;
    }
    
    .contFooter img{
        margin: 2px;
        width: 15%;
        height: 15%;
    }
    
    .contFooter a{
        font-size: 12px;
    }
}

/*Pantallas Tablets chicas*/

@media (max-width: 576px) {
    .ulPrincipal li a{
        font-size: 10px;
        padding: 4px 5px;
    }
    .contenedor1 .redondear{
        width: 40px;
        height: 40px;
        border-radius: 20px;
    }
    .cambioDeLetras {
        width: 50%;
        font-size: 16px;
    }
    .contTitulo{
        font-size: 22px;
        margin-bottom: 5px;
    
    }
    .contDescripcion{
        font-size: 15px;
    }
    .contParrafo{
        font-size: 15px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .imgCentral img{
        width: 400px;
        height: auto;
    }
}

/*Pantallas horizontales Mobile*/

@media (max-width: 480px) {
    .contenedor1{
        display: flex;
        width: 100px;
        padding: 2px;
        justify-content: center;   
    }
    .ulPrincipal li a{
        font-size: 8px;
        padding: 2px 3px;
    }
    .contenedor1 .redondear{
        width: 30px;
        height: 30px;
        border-radius: 18px;
        margin-left: 8px;
    }
    .contenedor2{
        width: 120px;
    }
    .cambioDeLetras {
        width: 100px;
        font-size: 15px;
    }
    .contTitulo{
        font-size: 18px;
        margin-bottom: 3px;
    
    }
    .contDescripcion{
        font-size: 13px;
    }
    .contParrafo{
        font-size: 13px;
        margin-top: 3px;
        margin-bottom: 3px;
    }
    .imgCentral img{
        width: 300px;
        height: auto;
    }
}

/*Pantallas verticales Mobile*/

@media (max-width: 320px) {
    .contTitulo{
        font-size: 16px;
        margin-bottom: 3px;
    
    }
    .contDescripcion{
        font-size: 11px;
    }
    .contParrafo{
        font-size: 11px;
        margin-top: 3px;
        margin-bottom: 3px;
    }
    .imgCentral img{
        width: 80%;
        height: auto;
    }
}