*{
    margin: 0;
    padding: 0;

}

/*Logo del Proyecto*/

#contenedorHeader{
    background-color: gray;
    display: flex;
    flex-direction: column;
    width: 100%;

}

.caja1{
    display: flex;
    justify-content: center;
    width: 30%;
}

.caja1 img{
    margin: 5px;
    width: 50px;
    height: 50px;
    border-radius: 32px;

}

.caja2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    font-family: Arial, Helvetica, sans-serif;
}

.caja2 h1{
    font-size: 23px;
}

/*Contenedor principal de Servicios*/

#contenedorServicios{
    background-color: rgb(209, 204, 201);
    width: 100%;
    height: auto;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}

/*H1 Servicios*/

.servicios{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 22px;
}

/*Div contenedor de Img*/

.divImagenes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*Contenedor para Imágenes sobre servicios*/

.personalizadas{
    display: flex;
    width: 160px;
    height: 150px;
    padding: 5px;
    margin: 5px;
    transition: all .5s;
    border-radius: 20px;
}

.personalizadas:hover{
    transform:scale(1.4)
}

#contenedorCajas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
}

/*Cajas para servicios*/

.caja{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(180, 84, 84);
    width: 120px;
    height: auto;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

.caja h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
}

ol li{
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    font-size: 15px;
    text-align: start;
    line-height: 2;
    margin-bottom: 5px;
}


/*Pie de página*/

.contFooter{
    margin: 5px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.contFooter ul{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin: 5px;
    list-style: none;
}

.contFooter ul li{
    display: block;
    transition: .2s linear;
    padding: 5px;   
}

.contFooter li:hover{
    transform: scale(1.1);
}

.contFooter a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    text-decoration: dashed;
    color: rgb(173, 13, 13);
    transition: .3s linear;
}

.contFooter a:hover{
    color: white;
    transform: scale(1.1);
}

/*Panatallas de Escritorio*/

@media (max-width:1200px) {
   
}

/*Pantallas Notebooks*/

@media (max-width:992px) {
    .contFooter a{
        font-size: 15px;
    }
}

/*Pantallas Tablets*/

@media (max-width:768px) {
    .caja2 h1{
        font-size: 21px;
    }
    .personalizadas{
        width: 125px;
        height: 125px;
    }
    .caja h2{
        font-size: 17px;
        text-align: center;
    }
    
    ol li{
        font-size: 12px;
        margin-bottom: 3px;
    }
    .caja{
        width: 100px;
        height: auto;
    }
    .contFooter ul{
        width: 60%;
        margin: 3px;
    }
    .contFooter a{
        font-size: 13px;
    }
}

/*Pantallas de Tablets Chicas*/

@media (max-width:576px){
    .servicios{
        font-size: 20px;
    }
    .caja2 h1{
        font-size: 17px;
    }
    .divImagenes{
        width: 100%;
        height: 160px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .personalizadas{
        width: 20%;
        height: 110px;
        margin: 2px;
        padding: 2px;
    }
    .caja h2{
        font-size: 14px;
        text-align: center;
    }
    
    ol li{
        font-size: 11px;
        margin-bottom: 3px;
    }
    .caja{
        width: 80px;
        height: auto;
    }
    .contFooter ul{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        margin: 5px;
        list-style: none;
    }

}

/*Pantallas horizontales de Móvil */ 

@media (max-width:480px){
    .caja1 img{
        margin: 2px;
        width: 30px;
        height: 30px;
        border-radius: 28px;
    
    }

    .caja2 h1{
        font-size: 14px;
    }
}

/*Pantallas verticales Mobile*/

@media (max-width:320px) {
    
}